<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eat-Da-Burger</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/ff6a322856.js" crossorigin="anonymous"></script>
        
    </head>
    <body>
        {{{ body }}}

        <script src="/assets/js/script.js"></script>
    </body>
</html>