<nav class='navbar navbar-expand-lg navbar-light bg-dark'>
    <div class="container-fluid nav-align">
        <p><h1><i class="fas fa-hamburger"></i> Welcome to Eat-Da-Burger</h1></p>
    </div>
</nav>
<main>
    <div class='container-xl' id='mobile-img'>
        <img src="/assets/img/burger.png" style="width:100%"/>
    </div>

    <div class='container-xl' id='data-field'>
        <div class='row'>
            <div class='col col-xl-6'>
                <h2>Burger List</h2>
                <form class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Add Your Burger" aria-label="Add Your Burger" aria-describedby="burgerBtn">
                    <button class="btn btn-secondary" type="submit" id="burgerBtn" onclick="addBurger(event)">Add</button>
                </form>
                <ul>
                    {{#each burgerList}}
                    <li><form>
                        <p>{{burger_name}} <input class="btn btn-outline-warning btn-sm" type="submit" value='Devour' id={{id}} onclick="devourBurger(event)"></p>
                    </form></li>
                    {{/each}}
                </ul>
                
                <h2>Devoured</h2>
                <ul>
                    {{#each devouredList}}
                    <li>{{burger_name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</main>
