<nav class='navbar navbar-expand-lg navbar-light bg-dark'>
    <div class="container-fluid nav-align">
        <p><h1>{{test}}</h1></p>
    </div>
</nav>
<main>
    <div class='container-xl' id='mobile-img'>
        <img src="/assets/img/burger.png" style="width:100%"/>
    </div>

    <div class='container-xl' id='data-field'>
        
        
    </div>
</main>
