main{
    background: url('../img/burger.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar{
    position: sticky !important;
    top: 0;
}

h1{
    text-align: center;
}

.bg-dark{
    color:white;
}

#data-field{
    background: rgba(255, 255, 255, 0.4);
    height: calc(100vh - 4.5rem);
}

#mobile-img{
    padding: 0px;
    display: none;
}

@media screen and (max-device-width: 480px){
    main{
        background: url('')
    }
    #mobile-img{
        display: inline;
    } 
}